:host .mat-icon{
    vertical-align: middle;
    margin-right: 20px;
    color: white;
}


.mat-list-base .mat-subheader, .mat-list-item {
    color: white;
}

h2{
    text-align: center;
    padding: 0 20px;
}

img{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
    object-fit: cover;
    padding-bottom: 20px;
}